*{
    /*margin代表外边距,元素没有重合时使用
    margin-top:上边距
    margin-right:右边距
    margin-bottom:下边距
    margin-left:左边距
    */
    margin: 0;
    /*padding代表内边距，元素有重合时使用 */
    padding: 0;
}
body{
    background: rgb(244,244,246);

    padding-top: 44px;
padding-bottom: 49px;
}
header {
    color:white;
    line-height: 44px;
    background: rgb(40,133,202) ;
    text-align: center ;
    width: 100%;

    left: 0;
    top: 0;
    position: fixed;

    z-index:99 ;
}


.DS_second_section img{
    width: 100%;
}
/*成行标签*/
footer {
    display: table ;
    width: 100%;
    background: black ;
    height: 49px;
    left: 0;
    bottom:0;
    position: fixed;
}
/*成列标签*/
footer a{
    display: table-cell ;
    width: 20%;
    text-align: center ;
    vertical-align: middle;
    text-decoration: none ;
}
footer a span{
  display: block;
    color: white;
    font-size: 12px;
}

.footer a img {
    width: 20px;
}